table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.spin {
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}