<!--
<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Meeting</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
</nav>-->

<!--<h2>Ajout d'un type de réunion</h2>
<form class="example-form" (submit)="onEvenTypeAdd()" #f="ngForm">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Nom du type de reunion" name="name" [(ngModel)] = "name" required>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]=f.invalid>send</button>
  <button mat-raised-button color="warn" >Annuler</button>
</form>-->

<h2 mat-dialog-title>Ajout d'un type de réunion</h2>
<form class="example-form" #f="ngForm">
<div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="Nom du type de reunion" 
      name="name" [(ngModel)] = "name" required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onAddEvenTypeClick()" [disabled]="!f.valid">Ajouter</button>
</div>
</form>