<!--<footer class="text-muted navbar-dark bg-dark mt-5 fixed-bottom">-->
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made with <i class="fa fa-heart"></i> by <a href="https://cmci-france.org">CMCI.</a>
      <span class="text-xs-center"> © Copyright 2019. All rights reserved.</span>
    </div>
</nav>
<!--</footer>--> <!--fixed-bottom-->

<!--
<footer class="text-muted navbar-dark bg-dark mt-5 fixed-bottom">
 <div class="container">
   <p class="float-right">
     <a href="#">Back to top</a>
   </p>
   <div>
      Made with <i class="fa fa-heart"></i> by <a href="https://cmci-france.org">cmci</a>
      <span class="text-xs-center"> © Copyright 2019. All rights reserved.</span>
    </div>
 </div>
</footer>-->