<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p>
  <button mat-raised-button color="primary" >send</button>  
  <button mat-raised-button color="warn" >cancel</button> 
  <button mat-raised-button color="accent" >ko</button>
  <button mat-button >ok ! </button>
  <a mat-raised-button routerLink=".">Link</a>
</p>-->

<app-header></app-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>